@{
    ViewBag.Title = "Zadaci";
}


<div class="row">
    <h1 style="color:dodgerblue; float:left">
        Zadaci
        <img style="height:50px"src="~/Content/Images/paper.png"/>
    </h1>  
</div>

<div>
    <h2> Odaberite kategoriju po kojoj želite pregledati zadatke:</h2>
</div>

@using (Html.BeginForm())
{
    <div class="form-group"  style="font-size:large; padding-top:10px">
        <div class="radio">
            @Html.RadioButton("kategorija", "Razred", true,
          new { id = "IsRazred" }) Razred
        </div>
        <div class="radio">
            @Html.RadioButton("kategorija", "Oblast",
           new { id = "IsOblast" }) Oblast
        </div>
    </div>
}

<h1>AJAX demo</h1>
<div id="ajax" class="demo"></div>

<script>
    $('#ajax').jstree({
        'core': {
            'data': {
                'url': '/api/Document/',
                'data': function (node) {
                    return { 'id': node.id };
                }
            }
        }
      });
</script>