@{
    ViewBag.Title = "Zadaci";
}


<div class="row">
    <h1 style="color:dodgerblue; float:left">
        Zadaci
        <img style="height:50px"src="~/Content/Images/paper.png"/>
    </h1>  
</div>

<div>
    <h2> Odaberite kategoriju po kojoj želite pregledati zadatke:</h2>
</div>

@using (Html.BeginForm())
{
    <div class="form-group"  style="font-size:large; padding-top:10px">
        <div class="radio">
            @Html.RadioButton("kategorija", "Razred", true,
          new { id = "IsRazred" }) Razred
        </div>
        <div class="radio">
            @Html.RadioButton("kategorija", "Oblast",
           new { id = "IsOblast" }) Oblast
        </div>
    </div>
}
<div id="js-tree" class="demo"></div>

<div id="tree"></div>

<p>
    When
    <math xmlns="http://www.w3.org/1998/Math/MathML">
        <mi>a</mi><mo>&#x2260;</mo><mn>0</mn>
    </math>,
    there are two solutions to
    <math xmlns="http://www.w3.org/1998/Math/MathML">
        <mi>a</mi><msup><mi>x</mi><mn>2</mn></msup>
        <mo>+</mo> <mi>b</mi><mi>x</mi>
        <mo>+</mo> <mi>c</mi> <mo>=</mo> <mn>0</mn>
    </math>
    and they are
    <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
        <mi>x</mi> <mo>=</mo>
        <mrow>
            <mfrac>
                <mrow>
                    <mo>&#x2212;</mo>
                    <mi>b</mi>
                    <mo>&#x00B1;</mo>
                    <msqrt>
                        <msup><mi>b</mi><mn>2</mn></msup>
                        <mo>&#x2212;</mo>
                        <mn>4</mn><mi>a</mi><mi>c</mi>
                    </msqrt>
                </mrow>
                <mrow> <mn>2</mn><mi>a</mi> </mrow>
            </mfrac>
        </mrow>
        <mtext>.</mtext>
    </math>
</p>

<script>
  /*  $('#js-tree').jstree({
        'core': {
            'data': {
                'url': '/api/Tree',
                "dataType" : "json" 
                }
            }
    });*/

    $.getJSON("../api/Tree")
      .done(function (json) {
          console.log("JSON Data: " + json);
          var items = [];
          $.each(json, function (key, value) {
              items.push("<li id='li" + value.id + "'>" + "<a href='#' onclick='getChildren(this.id)' id='" + value.id + "'>" + value.text + "</a></li>");
          });
          $("<ul/>", {
              "class": "my-tree",
              html: items.join("")
          }).appendTo("#tree");
      })
      .fail(function (jqxhr, textStatus, error) {
          var err = textStatus + ", " + error;
          console.log("Request Failed: " + err);
      });

    function getChildren(id) {
        $.getJSON("../api/Tree/" + id)
     .done(function (json) {
         console.log("JSON Data: " + json);
         $.each(json, function (key, value) {
             $("<li style='padding-left:5px'>" + "<a href='#' id='" + value.id + "'>" + value.text + "</a></li>").insertAfter("#li" + id);;
         });
     })
     .fail(function (jqxhr, textStatus, error) {
         var err = textStatus + ", " + error;
         console.log("Request Failed: " + err);
     });
    }
</script>